.App {
  text-align: center;
  background: red;
}

.App > h1 {
  text-shadow: 4px 2px 10px rgb(23, 136, 235);
}

.question-container {
  text-align: left;
  max-width: 500px;
  box-shadow: 0px 5px 24px #c5c2c2;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
}

.question-form .submit{
  width: 100%;
  border:none;
  background-color: rgb(23, 136, 235);
  border-radius: 5px;
  padding: 7px;
  color:#ffffff;
  margin-top: 20px;
}

.question-form .radio{
  margin: 9px 0;
  display: block;
}